<!-- wp:template-part {"slug":"header","theme":"protestsandsuffragettes","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"pns-template pns-template-404 pns-light-surface","style":{"spacing":{"blockGap":"2.5rem","margin":{"top":"0px","bottom":"0px"},"padding":{"top":"6rem","bottom":"6rem"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull pns-template pns-template-404 pns-light-surface" style="margin-top:0px;margin-bottom:0px;padding-top:6rem;padding-bottom:6rem"><!-- wp:group {"className":"pns-content-frame","style":{"spacing":{"blockGap":"1.875em"}},"layout":{"type":"default"}} -->
<div class="wp-block-group pns-content-frame"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"title-large"} -->
<h1 class="wp-block-heading has-text-align-center has-title-large-font-size">Oops! That page can't be found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">Go to Home Page</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"protestsandsuffragettes","tagName":"footer"} /-->
