<!-- wp:template-part {"slug":"header","theme":"protestsandsuffragettes","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"pns-template pns-template-archive pns-light-surface","style":{"spacing":{"blockGap":"2.5rem","margin":{"top":"0px","bottom":"0px"},"padding":{"top":"6rem","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull pns-template pns-template-archive pns-light-surface" style="margin-top:0px;margin-bottom:0px;padding-top:6rem;padding-bottom:0px"><!-- wp:group {"className":"pns-content-frame","layout":{"type":"default"}} -->
<div class="wp-block-group pns-content-frame"><!-- wp:query-title {"type":"archive","textAlign":"center","level":1,"fontSize":"title-large"} /-->

<!-- wp:term-description /--></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":25,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"className":"pns-search-results pns-section-frame","layout":{"type":"default"}} -->
<div class="wp-block-query pns-search-results pns-section-frame"><!-- wp:post-template {"className":"pns-search-results__list"} -->
<!-- wp:pattern {"slug":"pns/post-card-horizontal"} /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph -->
<p>No posts were found for this archive.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"full","backgroundColor":"neutral-50","className":"pns-section pns-query-pagination pns-site-frame-panel","style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"nowrap"}} -->
<!-- wp:query-pagination-previous {"label":"Previous"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"Next"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"protestsandsuffragettes","tagName":"footer"} /-->
