<!-- wp:template-part {"slug":"header","theme":"protestsandsuffragettes","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"pns-template pns-template-page-light-surface-no-contact-form pns-light-surface","style":{"spacing":{"padding":{"top":"0rem","bottom":"4rem"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull pns-template pns-template-page-light-surface-no-contact-form pns-light-surface" style="padding-top:0rem;padding-bottom:4rem">
<!-- wp:post-content {"className":"pns-content-frame","layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"protestsandsuffragettes","tagName":"footer","area":"footer"} /-->
