<!-- wp:template-part {"slug":"header","theme":"protestsandsuffragettes","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"pns-template pns-template-page pns-light-surface","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull pns-template pns-template-page pns-light-surface">
<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:block {"pnsRefSlug":"connect-social"} /-->

<!-- wp:block {"pnsRefSlug":"contact-form"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"protestsandsuffragettes","tagName":"footer","animationsForBlocks":{"animation":"none","variation":"in"},"className":"alignfull"} /-->
