<!-- wp:template-part {"slug":"header","theme":"protestsandsuffragettes","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"pns-template pns-template-single pns-template-single-full-width-news pns-light-surface","style":{"spacing":{"padding":{"top":"0rem","right":"0px","bottom":"0rem","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull pns-template pns-template-single pns-template-single-full-width-news pns-light-surface" style="margin-top:0px;margin-bottom:0px;padding-top:0rem;padding-right:0px;padding-bottom:0rem;padding-left:0px"><!-- wp:post-content {"layout":{"type":"default"}} /-->

<!-- wp:pattern {"slug":"pns/entry-post-navigation"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"protestsandsuffragettes","tagName":"footer","area":"footer"} /-->
